<div class="main-content">
  <div class="logo-container">
    <img src="assets/images/logo.png" alt="luv2shop" class="img-responsive">
  </div>
  <div class="login-panel">
    
    <div *ngIf="loginError && formSubmitted" class="alert alert-danger">Wrong email or password. Please try again</div>

    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <label for="email">Email:</label>
      <input id="email" formControlName="email" type="text" required>
      <div *ngIf="formSubmitted && loginForm.get('email').hasError('required')" class="alert alert-danger">Field required!</div>
      <div *ngIf="formSubmitted && loginForm.get('email').hasError('pattern')" class="alert alert-danger">Wrong email format</div>

      <label for="password">Password:</label>
      <input id="password" formControlName="password" type="password" required>
      <div *ngIf="formSubmitted && loginForm.get('password').hasError('required')" class="alert alert-danger">Field required!</div>
      <button type="submit">Login</button>
    </form>
  </div>

  <button routerLink="/" class="back-button" (click)="back()">Back</button>
</div>
