.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
}

.au-input {
    width: 70%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.au-btn-submit {
    background-color: #ff3873;
    color: #fff;
    border: 1px solid #ff3873;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.au-btn-submit:hover {
    background-color: #CF2D5E;
}

@media (max-width: 768px) {
    .form-header {
        flex-direction: column;
        align-items: stretch;
    }

    .au-input {
        width: 100%;
        margin-bottom: 10px;
        border-radius: 5px;
    }

    .au-btn-submit {
        width: 100%;
        border-radius: 5px;
    }
}
