.container-fluid {
    max-width: 1200px;
    margin: 0 auto;
}

.checkout-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-area {
    margin-bottom: 20px;
}

.input-space {
    margin-bottom: 15px;
}

.au-checkbox {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    display: inline-block;
}

.au-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.au-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 2px solid #ff3873;
    border-radius: 4px;
}

.au-checkbox:hover input ~ .au-checkmark {
    background-color: #f0f0f0;
}

.au-checkbox input:checked ~ .au-checkmark {
    background-color: #ff3873;
    border: 2px solid #ff3873;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.input-space input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.input-space select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fff;
}

.purchase-button {
    background-color: #ff3873;
    color: #ffffff;
    text-align: center;
}